name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: cargo fmt --check

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo
            ./target/
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - uses: dtolnay/rust-toolchain@stable
      - run: make static
      - run: cargo build
      - run: cargo test
      - run: cargo clippy -- -D warnings
